body {
        font-family: sora;
        text-align: center;
        padding: 30px;
        min-height: 100vh;
        display: flex;
        flex-direction: column;
        margin: 0;
        box-sizing: border-box;
        align-items: center;
        background-color:#7B29BB;
        color:#ffffff;
    }
    .status-toko{
        background-color: rgba(255, 255, 255, 0.2);
        font-size: 14px;
        padding: 4px;
        padding-left:16px;
        padding-right: 16px;
        border-radius: 20px;
        display: inline-flex;
        align-items: center;
        margin-bottom: 30px;

    }
    .dot-hijau{
        width: 10px;
        height: 10px;
        background-color: #22c55e;
        border-radius: 50%;
        margin-right: 8px;

    }
   
    .stack-utama{
        margin:0px;
        margin-bottom: 40px;
        
    }
   
    .stack-jam p{
        margin: 6px;
    }
    .jam-buka{
        opacity: 0.5;
    }
    .waktunya{
        font-weight:600;
       
    }
 
    h4 {

        font-weight: 300;
        margin-top: -15px;
        
    }
    img {
        width: 100px;
        border-radius: 50%;
    }
    a {
       display: block;
       background-color:#ffffff;
       color: #000000;
       padding: 16px;
       margin: 16px;
       width: 100%;
       max-width: 400px;
       text-decoration:none;
       border-radius: 100px;
       font-weight: 600;
       margin-left: auto;
       margin-right: auto;
       box-shadow: 5px 5px 0px 1px rgba(0, 0, 0, 1);
       box-sizing: border-box;
    }
    a i {
        margin-right:8px;
        font-size: 20px;
    }
    a:hover {
        background-color:#e6e6e6;
        transform: scale(1.02);
    }
    footer {
        font-size: 12px;
        opacity: 0.7;
        margin-top: auto;
    }
    .stack-button{
        margin-bottom: 80px;
        width: 100%;
        max-width: 400px;
    }